<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-title>Crear receta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()" class="close-btn">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding scrollable-content" fullscreen="true">
  <div class="scrollable-form">
    <form [formGroup]="formReceta" (ngSubmit)="crearReceta()">
      <h5 style="color: black;">Datos de la receta</h5>

      <ion-item class="input-item">
        <ion-label position="floating" color="primary">Nombre de la receta</ion-label>
        <ion-input formControlName="nombre_receta" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tiempo de preparación</ion-label>
        <ion-input formControlName="tiempo" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea formControlName="descripcion_receta" autoGrow="true"></ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Imagen</ion-label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      </ion-item>

      <ion-img *ngIf="previewImage" [src]="previewImage"></ion-img>

      <h5 style="color: black;">Ingredientes receta</h5>

      <ion-item>
        <ion-label position="floating">Ingrediente</ion-label>
        <ion-select [(ngModel)]="ingredienteSeleccionado" [ngModelOptions]="{standalone: true}" style="color: black;">
          <ion-select-option *ngFor="let ing of ingredientesDisponibles" [value]="ing">{{ ing.nombre_ingrediente }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Unidad</ion-label>
        <ion-select [(ngModel)]="idMedida" style="color: black;">
          <ion-select-option *ngFor="let u of unidadesMedida" [value]="u.id">{{ u.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input type="number" [(ngModel)]="cantidadIngrediente" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="agregarIngrediente()">Agregar ingrediente</ion-button>

      <div class="chips-container animate-in">
        <ion-chip *ngFor="let sel of ingredientesSeleccionados; let i = index" color="success" outline>
          <ion-label>
            {{ sel.nombre_ingrediente }} – {{ sel.cantidad }} {{ getNombreMedida(sel.id_medida) }}
          </ion-label>
          <ion-icon name="close-circle" (click)="eliminarIngrediente(i)" color="danger"></ion-icon>
        </ion-chip>
      </div>

      <h5 style="color: black;">Pasos de las receta</h5>

      <div formArrayName="pasos">
        <ion-reorder-group (ionItemReorder)="reorderPasos($event)" [disabled]="false">
          <ion-item *ngFor="let paso of pasos.controls; let i=index" [formGroupName]="i">
            <ion-reorder slot="start"></ion-reorder>
            <ion-label class="ion-padding-end">{{i + 1}}</ion-label>
            <ion-textarea formControlName="descripcion_paso" autoGrow="true" placeholder="Descripción del paso"></ion-textarea>
            <ion-button fill="clear" color="danger" (click)="removePaso(i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-reorder-group>
        <ion-button expand="block" (click)="addPaso()" class="ion-margin-top">Añadir Paso</ion-button>
      </div>

      <ion-button style="margin-bottom: 50px;"  expand="full" color="success" type="submit" [disabled]="isSubmitting">
        {{ isSubmitting ? 'Guardando...' : 'Guardar Receta' }}
      </ion-button>
    </form>
  </div>
</ion-content>

<!-- Chat -->
<div class="chatball" (click)="toggleChat()">
  💬
</div>
<div class="chat-overlay" *ngIf="showChat" (click)="minimizarChat()"></div>
<app-chatbot [class.hidden]="!showChat"></app-chatbot>
